@reference "tailwindcss";

.tab {
  @apply cursor-default relative w-64 h-[2.125rem];
}


.tab::before,
.tab::after {
  content: "";
  @apply absolute bottom-0 w-4 h-2 bg-transparent pointer-events-none block;
}

.tab::before {
  @apply -left-4;
  border-radius: 0 0 8px 0
}

.tab::after {
  @apply -right-4;
  border-radius: 0 0 0 8px;
}

.tab--active {
  @apply bg-white rounded-tl-lg rounded-tr-lg z-10
}

.tab--active::before {
  box-shadow: 8px 0 0 0 #ffffff;
}

.tab--active::after {
  box-shadow: -8px 0 0 0 #ffffff;
}